---
layout: splash
author_profile: false
title: "Intelligent Computing Lab"
header:
  overlay_image: /assets/images/title5.png
excerpt: >
  Artificial intelligence, Data science <br> and Nulcear engineering.
feature_row:
  - image_path: /assets/images/h1.png
    title: "Deep learning <br> & Artificial intellgence"
    excerpt: "We believe that the deep learning will bring us to the next level of safe and reliable nuclear technology. 
    We investigate wide range of deep learning applications in the field of nulcear engineering including reactor, accelerator, radiation."     

  - image_path: /assets/images/h2.jpg
    title: "Artificial intellgence for nuclear technology"
    excerpt: "HANARO (Hi-Flux Advanced Neutron Application Reactor) is the first IAEA designated ICERR in Asia-Pacific region.<br> 
    Based on the operation data of HANARO, we investigate digital twin model and deep learning technology for anomaly detection."

  - image_path: /assets/images/h3.jpg
    title: "Contribute to <br> local community"
    excerpt: "As a leading AI lab of representatie research institue in Daejeon, we invsetigate deep learning applications that help to solve critical issues occuring in both local society and industry." 
---
{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% for post in paginator.posts %}
  {% include archive-single.html type="grid"%}
{% endfor %}

{% include paginator.html %}
