---
layout: default
---

<div class="basic-team-area gray-bg pt-90 pb-60">
    <div class="container">
        <div class="area-title text-center">
            <h2>Graduate Researchers</h2>
        <!--	<p>What's up!</p> -->
        </div>			
        <div class="row">
  <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">kss0222@gmail.com</h5>
                            <p>
                            Education:<br>
                            B.S. 전산통계학, 전북대<br>
                            M.S. IT응용기술학, 호서대<br>
                            <!-- Ph.D. 기계시스템학부, 숙대<br>-->
                            <br>
                            Experience:<br>
                            조교수, 컴퓨터전자통신공학부, 연변과기대<br>
                            <br>
                            Research Interests: <br>Deep Learning, Autonomous Vehicle Sharing System Design								
                            </p>
                            <div class="team-social-icon">
                            <a href="https://github.com/kss0222" target="_blank"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Seongsin Kim (김성신)</h4>
                    <span class="team-item-role">PhD student/Researcher</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">soyoung9306@gmail.com</h5>
                            <p>
                            Education:<br>
                            B.S. 전자공학부, 한국산업기술대<br>
                            <br>
                            Research Interests: <br>Deep Learning, Generative Design, Manufacturing Cost Prediction								
                            </p>
                            <div class="team-social-icon">
                            <a href="https://github.com/soyoung9306" target="_blank"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Soyoung Yoo (유소영)</h4>
                    <span class="team-item-role">Master's Student</span>
                </div>
            </div>
  <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">sunghee.lee.de<br>@gmail.com</h5>
                            <p>
                            Education:<br>
                            B.S. 멀티미디어과학, 숙명여대<br>
                            <br>
                            Research Interests: <br>Deep Learning, Generative Design, Preference Modeling								
                            </p>
                            <div class="team-social-icon">
                            <a href="https://github.com/Sunghee-SDL" target="_blank"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Sunghee Lee (이성희)</h4>
                    <span class="team-item-role">Master's Student</span>
                </div>
            </div>
                                                    <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">ejkim9013@gmail.com</h5>
                            <p>
                            Education:<br>
                            B.S. 소비자경제학, 숙명여대<br>
                            <br>
                            Experience:<br>
                            이랜드<br>
                            <br>
                            Research Interests: <br>Deep Learning, Consumer Behavior wirh Big Data								
                            </p>
                            <div class="team-social-icon">
                            <a href="https://github.com/ejkim9013" target="_blank"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Eunji Kim (김은지)</h4>
                    <span class="team-item-role">Master's Student</span>
                </div>
            </div>		
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">taishinn@daum.net</h5>
                            <p>
                            Education:<br>
                            B.S. 전기공학과, 서울대 <br>
                            M.S. 전기및전자공학과, KAIST <br>
                            <br>
                            Experience:<br>
                            KAIST, 이화여대<br>
                            <br>
                            Research Interests: <br>Autonomous Robot</p>
                            <div class="team-social-icon">
                            <a href="#" target="_blank"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Taishin Chung (정태신)</h4>
                    <span class="team-item-role">Researcher</span>
                </div>
            </div>	
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">sjang.samsung<br>@gmail.com</h5>
                            <p>
                            Education:<br>
                            B.S. 전기정보공학부, 서울대 <br>
                            M.S. 전기정보공학부, 서울대 <br>
                            Ph.D. 전기정보공학부, 서울대 <br>
                            <br>
                            Experience:<br>
                            삼성리서치, University of Michigan<br>
                            <br>									
                            Research Interests: <br>Reinforcement Learning</p>
                            <div class="team-social-icon">
                            <a href="#"><span class="ion-social-github"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Seowoo Jang (장서우)</h4>
                    <span class="team-item-role">Visiting Researcher</span>
                </div>
            </div>
                                <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">lisa7399@naver.com</h5>
                            <p>
                            Education:<br>
                            B.S. 기계기스템학부, 숙명여대 <br>
                            <br>							
                            Research Interests: <br>Deep Learning, Generative Design
                            </p>
                            <div class="team-social-icon">
                            <a href="#"><span class="icon-attachment"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">Ah Hyeon Jin (진아현)</h4>
                    <span class="team-item-role">Integrated BS-MS Program (Planned)</span>
                </div>
            </div>
                                <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src=" /assets/images/people/gyun.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">minyoung306<br>@naver.com</h5>
                            <p>
                            Education:<br>
                            B.S. 기계기스템학부, 숙명여대 <br>
                            <br>							
                            Research Interests: <br>Deep Learning, Design Optimization
                            </p>
                            <div class="team-social-icon">
                            <a href="#"><span class="icon-attachment"></span></a>
                            </div> 
                        </div>
                    </div>
                    <h4 class="team-item-name">MIN YOUNG JWA(좌민영)</h4>
                    <span class="team-item-role">Integrated BS-MS Program (Planned)</span>
                </div>
            </div>					
        </div>
